/*! MOBILE VIEW */

/* TYPOGRAPHY */

.mainTitle {
    color: #FFFFFF;
    font-size: 3.125rem;
    text-transform: uppercase;
}

.mainAddressStreet {
    color: #D5966C;
    font-size: 2rem;
    text-transform: uppercase;
}

.mainAddress,
.mainAddressText {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 28px;
}

/* LAYOUT */

.main {
    background-color: #151515;
}

.mainContainer {
    display: grid;
    gap: 30px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em; 
}

.mainTitle {
    margin-bottom: 0;
}

.mainAddressStreet {
    margin-top: 0;
}

/*! TABLET VIEW  */

@media(min-width: 768px) {
    /* TYPOGRAPHY */
    .mainTitle {
        font-size: 3.4375rem;
    }

    /* lAYOUT */
    .mainContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5em 2em;
        gap: 10px;
    }

    .mainTitle {
        margin-top: 0;
        line-height: 50px;
    }

    .nextLine {
        display: block;
    }
}

@media(min-width: 1024px) {
    /* TYPOGRAPHY */
    .mainTitle {
        font-size: 4.375rem;
        line-height: 70px;
    }

    .mainAddressStreet {
        font-size: 2.25rem;
    }

    .mainAddress {
        font-size: 1.375rem;
        line-height: 32px;
    }

    /* LAYOUT */
    .mainContainer {
        max-width: 1110px;
        margin: 0 auto;
        padding: 5em 0em;
    }
}
