/*! MOBILE VIEW */

/* TYPOGRAPHY */
.footerText {
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
}

.locationFooterText {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
}

.socialMedia {
    font-size: 1.25rem;
    color: #FFFFFF;
}

.socialMediaLocation {
    color: #151515;
}

/* LAYOUT */

.footer,
.locationFooter {
    background-color: #151515;
    padding: 3em 2em;
}

.locationFooter {
    background-color: #D5966C;
}

.footerContainer
.locationFooterContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.footerSocialMedia,
.locationFooterSocialMedia {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: 1.25rem;
}

.socialMedia:hover,
.socialMedia:focus {
        color: #D5966C;
    }

.socialMediaLocation:hover,
.socialMediaLocation:focus {
    color: #FFFFFF;
}

/*! TABLET VIEW  */

@media (min-width: 768px) {
    /* lAYOUT */

   .footerContainer,
   .locationFooterContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, auto);
        align-items: flex-start;
   } 

   .lightLogo,
   .darkLogo {
        margin-right: 3em
   }

   .footerText,
   .locationFooterText {
        margin-top: 0;
        width: 65%;
   }

   .footerSocialMedia,
   .locationFooterSocialMedia {
        width: 100%;
        margin-right: 2em;
   }

}

/*! DESKTOP VIEW */

@media (min-width: 1024px) {
    /* TYPOGRAPHY */ 
    .footerText,
    .locationFooterText {
        font-size: 1.125rem;
    }

    /* LAYOUT */

    .footer,
    .locationFooter {
        padding: 4em 2.5em;
    }

    .footerContainer,
    .locationFooterContainer {
        max-width: 1110px;
        margin: 0 auto;
        gap: 4em;
    }

    
    
}