/*! MOBILE VIEW */

/* TYPOGRAPHY */
.footerText {
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
}

.socialMedia {
    font-size: 1.25rem;
    color: #FFFFFF;
}

/* LAYOUT */

.footer {
    background-color: #151515;
    padding: 3em 2em;
}

.footerContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.footerSocialMedia {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

/*! TABLET VIEW  */

@media (min-width: 768px) {
    /* lAYOUT */

   .footerContainer {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, auto);
        align-items: flex-start;
   } 

   .lightLogo {
        margin-right: 3em
   }

   .footerText {
        margin-top: 0;
        width: 65%;
   }

   .footerSocialMedia {
        width: 100%;
        margin-right: 2em;
   }

}

/*! DESKTOP VIEW */

@media (min-width: 1024px) {
    /* TYPOGRAPHY */ 
    .footerText {
        font-size: 1.125rem;
    }

    /* LAYOUT */

    .footer {
        padding: 4em 2.5em;
    }

    .footerContainer {
        max-width: 87%;
        margin: 0 auto;
        gap: 4em;
    }
    
}