/*! MOBILE VIEW  */

/*$ TYPOGRAPHY */
.headerTitle {
    font-size: 3.75rem;
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    line-height: 55px;
    color: #151515;
    font-weight: 900;
}

.headerText {
    font-size: 1.125rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 28px;
    color: #444444;
}

/*$ LAYOUT */

.headerContainer {
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 8em;
}

.headerHeroImage {
    width: 100%
}

.headerTitle {
    margin-top: .15em;
}

.headerText {
    margin-bottom: 1.5em;
}

/*! TABLET VIEW */

@media (min-width: 768px) {
    /* TYPOGRAPHY */

    .headerTitle {
        font-size: 4.375rem;
        line-height: 65px;
    }

    /* LAYOUT */

    .header {
        display: grid;
        grid-template-columns: 437px auto;
        position: relative;
        margin-bottom: 7em;
    }

    .headerHeroImage {
        display: block;
    }

    .headerContainer {
        position: absolute;
        top: 120px;
        left: 379px;
    }

    .headerTitle {
        margin-bottom: 3.5rem;
    }

    .headerText {
        margin-bottom: 2.5em;
    }
}

/*! DESKTOP VIEW */

@media (min-width: 1024px) {
    /* LAYOUT */

    .headerContainer {
        display: flex;
        justify-content: space-between;
    }

    .headerTitle {
        margin-top: 0;
    }

    .headerText {
        margin-top: 0; 
    }
}