/*! MOBILE VIEW  */

/*$ TYPOGRAPHY */
.headerTitle {
    font-size: 3.75rem;
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    line-height: 55px;
    color: #151515;
    font-weight: 900;
}

.headerText {
    font-size: 1.125rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 28px;
    color: #444444;
}

/*$ LAYOUT */

.headerContainer {
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 8em;
}

.headerHeroImage {
    width: 100%;
    object-fit: cover;
}

.headerTitle {
    margin-top: .15em;
}

.headerText {
    margin-bottom: 1.5em;
}

/*! TABLET VIEW */

@media (min-width: 768px) {
    /* TYPOGRAPHY */

    .headerTitle {
        font-size: 4.375rem;
        line-height: 65px;
    }

    /* LAYOUT */

    .headerHeroImage {
        display: none;
    }

    .header {
        background: url("/src/assets/tablet/image-hero.jpg") no-repeat;
    }

    .headerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25em;
        padding-block: 6.25em;
        padding-bottom: 13em;
        margin-bottom: 5em;
        background-image: initial;
    }

    .headerBox {
        grid-column: 2;
    }

    .headerTitle {
        margin-top: .65em;
    }

    .headerText {
        margin-bottom: 3.15em;
    }
}

/*! DESKTOP VIEW */

@media (min-width: 1024px) {
    /* LAYOUT */

    .header {
        background: linear-gradient(270deg, #FFFFFF 50%, hsla(0, 0%, 8%, 1) 50%);
    }

    .headerContainer {
        max-width: 1110px;
        margin: 0 auto;
        padding-inline: 1.25em;
        padding-block: 0;
        padding: 0;
        gap: 0;
        display: block;
    }

    .headerBox {
       display: flex;
       background-repeat: no-repeat;
       padding-block: 11.875rem 18.75rem;
       margin-bottom: 11.25em;
       background-image: url("/src/assets/desktop/image-hero.jpg");
       background-size: contain;
       background-position: 50% 50%;
       justify-content: space-between;
       width: 98.5%;
       align-items: flex-start;
    }

    .headerTitle {
        mix-blend-mode: difference;
        color: #FFFFFF;
        max-width: 28.125rem;
        font-size: 5.625rem;
        line-height: 88px;
        margin-top: 0;
    }

    .headerText {
        max-width: 22rem;
        font-size: 1.375rem;
        line-height: 32px;
        margin-top: 0;
    }
}