/*! MOBILE VIEW  */

/* TYPOGRAPHY  */
.mainTitle {
    font-size: 3.125rem;
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    line-height: 45px;
    color: #151515; 
}

.mainContainer {
    margin: 0 auto;
}

.mainSmallGrid {
    display: grid;
    margin: 0 auto;
}

.mainImgOne {
    margin: 0 auto;
    display: block;
    width: 90%;
}
